project/springboot-stack/appointment/.gradle
project/springboot-stack/coverage-eligibility-request/.gradle
project/springboot-stack/backend/src/main/resources/static/_app
project/springboot-stack/backend/src/main/resources/static/fonts
project/springboot-stack/backend/src/main/resources/static/favicon.png
project/springboot-stack/backend/src/main/resources/static/index.html
project/springboot-stack/backend/.gradle
project/springboot-stack/backend/build
