project/springboot-stack/appointment/.gradle
project/springboot-stack/coverage-eligibility-request/.gradle
project/springboot-stack/backend/src/main/resources/static/_app
project/springboot-stack/backend/src/main/resources/static/fonts
project/springboot-stack/backend/src/main/resources/static/favicon.png
project/springboot-stack/backend/src/main/resources/static/index.html
project/springboot-stack/backend/.gradle
project/springboot-stack/backend/build
project/.gradle
project/payment-notification-service/backend/.gradle
project/payment-notification-service/backend/build/libs
project/payment-notification-service/backend/build/tmp
project/payment-processing-service/backend/.gradle
project/payment-request-store/.gradle
project/payment-request-store/build
project/payment-notification-service/backend/build
project/data-preparation/default/.ssh_tunnel
project/data-preparation/mage_data
payment-request-store-build.gradle.txt
docker-compose.yml.txt
project-build.gradle.txt
project/payment-notification-service/backend/payment-nofication-backend-service-build.gradle.txt
project/payment-notification-service/backend/payment-notification-backend-service-Dockerfile.txt
project/payment-notification-service/backend/payment-notification-service.txt
project/build/reports/problems/problems-report.html
